.component-service-form {
  padding: 24px 0 0;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 8px;

  &__title {
    font-weight: 600;
    margin-bottom: 16px;
    padding: 0 24px;
  }

  &__inputs {
    display: grid;
    grid-gap: 16px;
    padding: 0 24px;
  }

  &__actions {
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin-top: 40px;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0, .08);
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-gap: 8px;
  }

  &__editing {
    .component-service-form {
      &__actions {
        grid-template-columns: repeat(2, 96px);
      }
    }
  }
}
